@font-face {
    font-family: "Inter";
    src: url(fonts/Inter-V.ttf);
}
@font-face {
font-family: "Forum";
    src: url(fonts/Forum-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

header {
    color: white;
    background: #0C0C0E;
    height: 90px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    left: 0;
}

h1 {
    font-family: Forum;
    font-size: 30px;
    line-height: 50px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.6px;
    width: 100%;
    text-align: left;
    margin-left: 20px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    align-items: center;
    text-align: center;
}

#navigation {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    align-items: center;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    gap: 30px;
}

#navigation li:last-child {
    padding-right: 40px;
}

#navigation a {
    text-decoration-line: none;
    color: white;
}

#navigation a:hover {
    text-decoration: underline;
}

#logotype {
    margin-right: 20px;
    width: 28px;
    height: 28px;
}

div.centerHeader {
    display: flex;
    width: 1440px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

div.centerWelcome {
    display: flex;
    width: 1440px;
    margin: 0 auto;
}

section.about, section.favorites, section.coffeeShop, section.contacts, section.libraryCards {
    width: 1440px;
    margin: 0 auto;
}

.welcome {
    display: flex;
    width: initial;
    background-image: url(images/Welcome.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
    margin-top: auto;
    position: relative;
    width: 100%;
}

.welcome:before {
    content: "";
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: auto;
    background: linear-gradient(to bottom, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18,18, 21, 0.1) 100%);
    width: 100%;
    height: 300px;
}

#welcome {
    display: flex;
    background: #0C0C0E;
    height: 220px;
    width: 600px;
    margin-left: 0px;
    margin-top: 220px;
    color: white;
    font-family: "Forum";
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    justify-content: center;
    justify-items: center;;
    text-align: center;
    align-items: center;
    /*border: 35px 40px 35px 40px solid #0C0C0E;*/
}

.about {
    width: 1440px;
    height: 837px;
}

h2 {
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 40px;
    text-align: center;
    color: #0C0C0E;
    text-transform: capitalize;
}

h2:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin: 20px auto auto auto;
}

#about {
    margin-top: 20px;
}

#aboutText {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
    line-height: 40px;
}

.images {
    display: flex;
    height: 560px;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.carousel {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.carousel a {
    display: flex;
    border-radius: 50%;
    background: transparent;
    width: 26px;
    height: 26px;
}

.carousel span {
    display: flex;
    background: #0C0C0E;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 5px;
}

#slideFirstCenter {
    background: #BB945F;
}

.favorites {
    width: 1440px;
    height: 1439px;
}

#favorites {
    margin-top: 0px;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 40px;
    text-align: center;
    color: #0C0C0E;
    text-transform: capitalize;
}

#favorites {
    margin-top: 0;
}

#favoritesText {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-top: 40px;
    margin-left: 20px;
}

.seasons {
    display: flex;
    justify-content: flex-start;
    gap: 78px;
    margin-top: 30px;
    margin-left: 12px;
    align-items: center;
}    

.seasons input[type=radio] {
    margin-top: 5px;
    display: none;
}

.seasons label {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    padding-left: 45px;
    margin-right: 0;
    padding-right: 5px;
    padding-top: 5px;
    font-family: Inter;
    color: black;
    font-size: 20px;
    user-select: none;
    height: 34px;
    align-items: center;
}

.seasons span {
    position: relative;
}


.seasons span:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: -38px;
    bottom: 2px;
    background: url(images/radio.svg) 0 0 no-repeat;
}

.seasons input[type=radio]:checked + span {
    font-weight: 700;
}

.seasons input[type=radio]:checked + span:before {
    content: "";
    background: url(images/radioActive.svg) 0 0 no-repeat;
}

.books {
    display: flex;
    width: 1400px;
    height: 1150px;
    margin-left: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 35px;
    padding-bottom: 0;
}

.firstBook, .secondBook, .thirdBook, .fourthBook {
    display: flex;
    flex-direction: column;
    width: 590px;
    height: 555px;
    flex-shrink: 0;
    position: relative;
}

.bookBorder {
    display: flex;
    flex-direction: column;
    width: 549px;
    height: 555px;
    border: 1px solid black;
    margin: 0;
    position: relative;
}

.books h3 {
    font-family: Forum;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 19px;
    margin-top: 14px;
    margin-bottom: 0;
}

.books h3:after {
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    margin: -2px 0 0 0;
    background: #BB945F;
}

.books h4 {
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    margin-left: 19px;
    margin-top: 21px;
    margin-bottom: 0;
}

.books img {
    overflow: visible;
    width: 200px;
    height: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.books p {
    width: 355px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 19px;
    margin-top: 20px;
}

span.bookButton {
    display: flex;
    position: relative;
    margin: auto auto 15px 19px;
}

.bookBorder button {
    width: 75px;
    height: 30px;
    font-family: Inter;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: transparent;
}   

.bookBorder p {
    text-transform: capitalize;
}

button.buy {
    color: #0C0C0E;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    cursor: pointer;
    transition: 1s ease;
}

button.buy:hover {
    background-color: #BB945F;
    border: 1px solid #BB945F;
    transition: 1s ease;
}

button.own {
    color: #BB945F;
    border: 1px solid #BB945F;
    border-radius: 2px;
}

.noneBooks {
    display: none;
}

#coffeeShop {
    margin-top: 0;
}